<div>
  <!-- Botones con sus respectivos eventos: clic y mouseover en el botón "bueno" -->
  <button (click)="saludoBueno()" (mouseover)="mouseOverBueno()">bueno</button>
  <button (click)="saludoFeo()">feo</button>
  <button (click)="saludoMalo()">malo</button>
</div>

<div>
  <!-- Formulario con un campo de texto "nombre" y un botón de envío -->
  <!-- Se utiliza [(ngModel)] para enlazar el valor del input a la propiedad "nombre" -->
  <form (submit)="onSubmit($event)">
    <label for="nombre">Nombre:</label>
    <!-- en este caso no metemos un [ngModelOptions]="{standalone: true}" porque tiene un name -->
    <input
      id="nombre"
      name="nombre"
      type="text"
      [(ngModel)]="nombre"

      (blur)="onBlurNombre()"
      required>
    <button type="submit">Enviar</button>
  </form>
</div>

