<p>principal-eventos works!</p>
<button id="boton" (click)="clicked($event)">Púlsame</button>
<div>
  <label for="keyup">Evento Keyup Normal</label>
  <input id="keyup" #keyup (keyup)="onKeyup(keyup.value)"/>
  <!-- envío variable de vista # con sólo el value-->
  <h2>Evento filtrado Keyup.Enter</h2>
  <input #box (keyup.enter)="onEnter(box.value)"/>
  <h2>{{box.value}}</h2>
  <!-- envío variable de vista # entero-->
  <h2>Enviando el objeto DOM completo al handler</h2>
  <input id="miInput" #miInput (keyup.enter)="onInput(miInput)"/>

</div>
