<p>principal-eventos works!</p>
<button id="boton" (click)="clicked($event)">Púlsame</button>
<img src="https://picsum.photos/200/300" alt="Imagen aleatoria" (click)="onClick($event)"/>
<br/>
<div>
  <label for="keyup">Evento Keyup Normal</label>
  <input id="keyup" #unInput (keyup)="onKeyup(unInput.value)"/>
  <!-- envío variable de vista # con sólo el value-->
  <h2>Evento filtrado Keyup.Enter</h2>
  <input #caja (keyup.enter)="onEnter(caja.value)"/>
  <h2>{{caja.value}}</h2>
  <!-- envío variable de vista # entero-->
  <h2>Enviando el objeto DOM completo al handler</h2>
  <input id="miInput" #miInput (keyup.enter)="onInput(miInput)"/>

</div>
