<div>
  <h3>Formulario de validación de Campos Password Iguales</h3>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div >
      <input type="password" formControlName="password">
    </div>
    @if(myForm.controls['password'].status=="INVALID" && myForm.controls['password'].touched){
      <div class="alert alert-danger">
        @if(myForm.controls['password'].errors?.['required']){
          <div>
            Password is required.
          </div>
        }
      </div>
    }
    <!--div [hidden]="myForm.controls['password'].valid || myForm.controls['password'].untouched"
         class="alert alert-danger">
      <div *ngIf="myForm.controls['password'].errors?.['required'] == true">
        Password is required.
      </div>

    </div-->
    <div>
      <input type="password" formControlName="repeatedPassword">
    </div>
    @if(myForm.controls['repeatedPassword'].status=="INVALID" && myForm.controls['repeatedPassword'].touched){
      <div class="alert alert-danger">
        @if(myForm.controls['repeatedPassword'].errors?.['required']){
          <div>
            Confirm the Password is required.
          </div>
        }
        @if(myForm.controls['repeatedPassword'].errors?.['confirmedValidator']){
          <div>
            Las contraseñas no coinciden
          </div>
        }
      </div>
    }
    <!--div [hidden]="myForm.controls['repeatedPassword'].valid || myForm.controls['repeatedPassword'].untouched"
         class="alert alert-danger">
      <div>El campo es inválido</div>
      <div *ngIf="myForm.controls['repeatedPassword'].errors?.['required'] == true">
        Confirm the Password is required.
      </div>
      <div *ngIf="myForm.controls['repeatedPassword'].errors?.['confirmedValidator']">
        Las contraseñas no coinciden
      </div>
    </div-->
    <button type="submit">Submit</button>
  </form>
</div>
