<div>
  <h2>Control Flow</h2>
  <div>
  @if (a > b) {
    <p>{{a}} is greater than {{b}}</p>
  }
  </div>
  <div>
    @if (a > b) {
      <p>{{a}} is greater than {{b}}</p>
    } @else {
      <p>{{a}} is equal or lower to {{b}}</p>
    }
  </div>
  <div>
  @if (a > b) {
    <p>{{a}} is greater than {{b}}</p>
  } @else if (b > a) {
    <p>{{a}} is less than {{b}}</p>
  } @else {
    <p>{{a}} is equal to {{b}}</p>
  }
  </div>
  <h3>Bucles</h3>
  <div>
    <h3>Listado</h3>
    <ul>
    @for (item of todos; track item.id) {
      <li>{{ item.text }}</li>
    }@empty {
      <li> There are no items.</li>
    }
    </ul>
  </div>
  <div>
    <h3>Listado con variables predefinidas</h3>
    <p>$count	Number of items in a collection iterated over <br/>
      $index	Index of the current row <br/>
      $first	Whether the current row is the first row <br/>
      $last	Whether the current row is the last row <br/>
      $even	Whether the current row index is even <br/>
      $odd	Whether the current row index is odd</p>
    <ul>
      @for (item of todos; track $index) {

        <li>{{$index}}:{{ item.text }}
          <span>Count: {{$count}}</span> <br/>
          <span>First: {{$first}}</span> <br/>
          <span>Last: {{$last}}</span> <br/>
          <span>Even: {{$even}}</span> <br/>
          <span>Odd: {{$odd}}</span> <br/>
        </li>
      }@empty {
        <li> There are no items.</li>
      }
    </ul>
  </div>
  <div>
    <h2>Switch</h2>
    <div>
      @switch (condicion) {
        @case ("A") {
          Case A.
        }
        @case ("B") {
          Case B.
        }
        @default {
          Default case.
        }
      }
    </div>
  </div>
</div>
