<div>
  <h3>Pipes</h3>
  <h3>{{cadena}}</h3>
  <h3>lowercase: {{cadena | lowercase}}</h3>
  <h3>uppercase: {{cadena | uppercase}}</h3>
  <h3>json: {{objetoJSON | json}}</h3>
  <h3>Percent: {{ porcentaje | percent }}</h3>
  <h3>Percent:'2.1-2' {{ porcentaje | percent: '2.1-2' }}</h3>
  <h3>currency: {{porcentaje |  currency}}</h3>
  <h3>currency:'EUR' {{porcentaje |  currency: 'EUR'}}</h3>
  <h3>date {{fecha |  date}}</h3>
  <h3>date: short {{fecha |  date: 'short'}}</h3>
  <h3>date: 'd/M/yy, h:mm a' {{fecha |  date: 'd/M/yy, h:mm a'}}</h3>
  <h3>Custom Pipe</h3>
  <h3>{{porcentaje}}</h3>
  <h3>Custom Pipe</h3>
  <h3>miPipe: 2 -> {{porcentaje |miPipe: 2}}</h3>
  <div appMia>
    <p>Pasa con el ratón por encima</p>
  </div>
</div>
