<div>
  <h3>Formulario de validación de Campos Password Iguales</h3>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div >
      <input type="password" formControlName="password">
    </div>
    <div>
      <input type="password" formControlName="repeatedPassword">
    </div>
    <div [hidden]="(myForm.valid && myForm.status=='VALID') || myForm.untouched"
         class="alert alert-danger">
      <div *ngIf="myForm.controls['repeatedPassword'].errors?.['required'] == true">
        Password is required.
      </div>
      <div *ngIf="myForm.controls['repeatedPassword'].errors?.['confirmedValidator']">
        Las contraseñas no coinciden
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
