<div>
  <div [ngClass]="isSpecial ? 'special' : ''">
    This div is special
  </div>
  <h2>Condicionales</h2>
  <p *ngIf="booleano">
    El booleano es true
  </p>
  <p *ngIf="!booleano">
    El booleano es false
  </p>
  <h3>Bucle *ngFor</h3>
  <ul>
    <li *ngFor="let item of datos; index as i">
      {{i}}: {{item.text}}
    </li>
  </ul>
  <div [ngSwitch]="currentItem">
    <p *ngSwitchCase="'stout'">Stout</p>
    <p *ngSwitchCase="'stin'">Stin</p>
    <!-- . . . -->
    <p *ngSwitchDefault>default</p>
  </div>

</div>
