<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a routerLink="/props" routerLinkActive="active" ariaCurrentWhenActive="page">Propiedades</a></li>
    <li><a routerLink="/todos" routerLinkActive="active" ariaCurrentWhenActive="page">Todos</a></li>
    <li><a routerLink="/directivas" routerLinkActive="active" ariaCurrentWhenActive="page">Directivas Builtin</a></li>
    <li><a routerLink="/control-flow" routerLinkActive="active" ariaCurrentWhenActive="page">Control Flow</a></li>
    <li><a routerLink="/pipes" routerLinkActive="active" ariaCurrentWhenActive="page">Pipes</a></li>
    <li><a routerLink="/signals" routerLinkActive="active" ariaCurrentWhenActive="page">Signals</a></li>
    <li><a routerLink="/service" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a></li>
    <li><a routerLink="/partidos" routerLinkActive="active" ariaCurrentWhenActive="page">Partidos</a></li>
    <li><a routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page">Eventos</a></li>
    <li><a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Form Básico</a></li>
    <li><a routerLink="/reactivos" routerLinkActive="active" ariaCurrentWhenActive="page">Reactivos</a></li>
    <li><a routerLink="/subrutas" routerLinkActive="active" ariaCurrentWhenActive="page">SubRutas</a></li>
    <li><a routerLink="/nav" routerLinkActive="active" ariaCurrentWhenActive="page">Navegación</a></li>
    <li><a routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">Listado</a></li>
  </ul>
</nav>
<main class="main">
  <h1>Ejemplos de Angular</h1>
  <h2>Data-Binding: {{title}}</h2>
  <!--app-todos></app-todos>
  <app-directivas-builtin></app-directivas-builtin>
  <app-control-flow></app-control-flow>
  <app-uso-pipes></app-uso-pipes>
  <app-propiedades></app-propiedades>
  <app-propiedades
    [parametro]="'hola'"
    [parametro2]="2"
    [dato]="objetoDato"
  ></app-propiedades>
  <app-listado-partidos></app-listado-partidos>
  <app-uso-service></app-uso-service>
  <app-listado-partidos></app-listado-partidos>
  <app-principal-eventos></app-principal-eventos>
  <app-signals></app-signals>
  <app-main-form></app-main-form>
  -->

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
