<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Demos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="btn btn-danger me-2" routerLink="/home" routerLinkActive="active">Home</button>
        <button class="btn btn-primary me-2" routerLink="/about" routerLinkActive="active">About</button>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Componentes</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/props" routerLinkActive="active">Propiedades</button>
            <button ngbDropdownItem routerLink="/directivas" routerLinkActive="active">Directivas Builtin</button>
            <button ngbDropdownItem routerLink="/todos" routerLinkActive="active">Todos</button>
            <button ngbDropdownItem routerLink="/props-listado-detalle" routerLinkActive="active">Todos Listado Detalle</button>
            <button ngbDropdownItem routerLink="/control-flow" routerLinkActive="active">Control Flow</button>
            <button ngbDropdownItem routerLink="/pipes" routerLinkActive="active">Pipes</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-outline-primary" id="dropdownSignal1" ngbDropdownToggle>Signals</button>
          <div ngbDropdownMenu aria-labelledby="dropdownSignal1">
            <button ngbDropdownItem routerLink="/signals" routerLinkActive="active">Signals</button>
            <button ngbDropdownItem routerLink="/signals-effect" routerLinkActive="active">Effect</button>
            <button ngbDropdownItem routerLink="/signals-input" routerLinkActive="active">Input</button>
            <button ngbDropdownItem routerLink="/signals-model" routerLinkActive="active">Model</button>
            <button ngbDropdownItem routerLink="/signals-queries" routerLinkActive="active">Queries</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-outline-primary" id="Servicios" ngbDropdownToggle>Servicios</button>
          <div ngbDropdownMenu aria-labelledby="Servicios">
            <button ngbDropdownItem routerLink="/servicio-basico" routerLinkActive="active">Servicio Básico</button>
            <button ngbDropdownItem routerLink="/service" routerLinkActive="active">Services</button>
            <button ngbDropdownItem routerLink="/partidos" routerLinkActive="active">Partidos</button>
            <button ngbDropdownItem routerLink="/peticion-post" routerLinkActive="active">Petición Post</button>

          </div>
        </div>
        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-outline-primary" id="Eventos" ngbDropdownToggle>Eventos</button>
          <div ngbDropdownMenu aria-labelledby="Eventos">
            <button ngbDropdownItem routerLink="/ciclo" routerLinkActive="active">Ciclo de Vida</button>
            <button ngbDropdownItem routerLink="/events" routerLinkActive="active">Eventos</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-outline-primary" id="Formularios" ngbDropdownToggle>Formularios</button>
          <div ngbDropdownMenu aria-labelledby="Formularios">
            <button ngbDropdownItem routerLink="/form" routerLinkActive="active">Form Básico</button>
            <button ngbDropdownItem routerLink="/form-radios" routerLinkActive="active">Form con Radios</button>
            <button ngbDropdownItem routerLink="/reactivos" routerLinkActive="active">Reactivos</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-outline-primary" id="Rutas" ngbDropdownToggle>Rutas</button>
          <div ngbDropdownMenu aria-labelledby="Rutas">
            <button ngbDropdownItem routerLink="/subrutas" routerLinkActive="active">SubRutas</button>
            <button ngbDropdownItem routerLink="/nav" routerLinkActive="active">Navegación</button>
            <button ngbDropdownItem routerLink="/list" routerLinkActive="active">Listado</button>
          </div>
        </div>

        <button class="btn btn-primary me-2" routerLink="/lazy" routerLinkActive="active">Lazy</button>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="Ng_Bootstrap" ngbDropdownToggle>Ng Bootstrap</button>
          <div ngbDropdownMenu aria-labelledby="Ng_Bootstrap">
            <button ngbDropdownItem routerLink="/acordeon" routerLinkActive="active">Acordeon</button>
            <button ngbDropdownItem routerLink="/alertas" routerLinkActive="active">Alertas</button>
            <button ngbDropdownItem routerLink="/form-bootstrap" routerLinkActive="active">Form</button>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="ejercicios" ngbDropdownToggle>Ejercicios</button>
          <div ngbDropdownMenu aria-labelledby="ejercicios">
            <button ngbDropdownItem routerLink="/ejercicio-componente" routerLinkActive="active">Listado</button>
            <button ngbDropdownItem routerLink="/ejercicio-misclientes" routerLinkActive="active">MisClientes</button>
            <button ngbDropdownItem routerLink="/ejercicio-condicionales" routerLinkActive="active">Condicionales</button>
            <button ngbDropdownItem routerLink="/ejercicio-input" routerLinkActive="active">Input</button>
            <button ngbDropdownItem routerLink="/ejercicio-signals" routerLinkActive="active">Signals</button>
            <button ngbDropdownItem routerLink="/ejercicio-tuberias" routerLinkActive="active">Pipes</button>
            <button ngbDropdownItem routerLink="/ejercicio-servicios" routerLinkActive="active">Servicios</button>
            <button ngbDropdownItem routerLink="/ejercicio-resultado" routerLinkActive="active">HTTP</button>
            <button ngbDropdownItem routerLink="/ejercicio-eventos" routerLinkActive="active">Eventos</button>
            <button ngbDropdownItem routerLink="/ejercicio-formulario" routerLinkActive="active">Formulario</button>
            <button ngbDropdownItem routerLink="/ejercicio-formulario-reactivo" routerLinkActive="active">Formulario Reactivo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<h1>Angular Router App</h1>
<main class="main">
  <h1>Ejemplos de Angular</h1>
  <h2>Data-Binding: {{title}}</h2>
  <!--app-todos></app-todos>
  <app-directivas-builtin></app-directivas-builtin>
  <app-control-flow></app-control-flow>
  <app-uso-pipes></app-uso-pipes>
  <app-propiedades></app-propiedades>
  <app-propiedades
    [parametro]="'hola'"
    [parametro2]="2"
    [dato]="objetoDato"
  ></app-propiedades>
  <app-listado-partidos></app-listado-partidos>
  <app-uso-service></app-uso-service>
  <app-listado-partidos></app-listado-partidos>
  <app-principal-eventos></app-principal-eventos>
  <app-signals></app-signals>
  <app-main-form></app-main-form>
  -->

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
