<h1>Ejemplo FormGroup Básico</h1>
<form class="form-group" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="firstName">First Name:</label>
  <input id="firstName" class="form-control" type="text" formControlName="firstName">
  <!--div *ngIf="profileForm.controls['firstName'].status=='INVALID'"
       class="alert alert-danger">
    <div *ngIf="profileForm.controls['firstName'].errors?.['required'] == true">
      Name is required.
    </div>
    <div *ngIf="profileForm.controls['firstName'].errors?.['minlength']">
      Your name has only {{profileForm.controls['firstName'].errors?.['minlength']?.actualLength}} characters while
      the min lenght is {{profileForm.controls['firstName'].errors?.['minlength']?.requiredLength}}
    </div>
  </div-->
  @if (
    profileForm.controls['firstName'].status=='INVALID' &&
    profileForm.controls['firstName'].touched
    ) {
    <div class="alert alert-danger">
      @if(profileForm.controls['firstName'].errors?.['required']){
        <div>Name is required.</div>
      }
      @if(profileForm.controls['firstName'].errors?.['minlength']){
        <div>
          Your name has only {{profileForm.controls['firstName'].errors?.['minlength']?.actualLength}} characters while
          the min lenght is {{profileForm.controls['firstName'].errors?.['minlength']?.requiredLength}}
        </div>
      }
    </div>
  }
  <h2>Valores del campo firstName</h2>
  <h2>Valid: {{profileForm.controls['firstName'].valid}}</h2>
  <h2>Invalid: {{profileForm.controls['firstName'].invalid}}</h2>
  <h2>Touched: {{profileForm.controls['firstName'].touched}}</h2>
  <h2>Untouched: {{profileForm.controls['firstName'].untouched}}</h2>
  <h2>Pristine: {{profileForm.controls['firstName'].pristine}}</h2>
  <h2>Dirty: {{profileForm.controls['firstName'].dirty}}</h2>
  <label for="lastName">Last Name:</label>
  <input id="lastName" class="form-control" type="text" formControlName="lastName">
  <input
    id="form-submit"
    class="btn btn-success"
    type="submit"
    value="Enviar"
    [disabled]="profileForm.status=='INVALID'"/>
</form>
<h3>Form valid</h3>
{{profileForm.valid }}
{{profileForm.status }}
<h3>firstname field valid</h3>
{{profileForm.controls['firstName'].status }}
<!--<h1>Ejemplo TypedFormGroup Básico</h1>-->
<!--<form class="form-group" [formGroup]="typedProfileForm" (ngSubmit)="onSubmitTyped()">-->
<!--  <label for="typedfirstName">First Name:</label>-->
<!--  <input id="typedfirstName" class="form-control" type="text" formControlName="firstName">-->
<!--  <label for="typedlastName">Last Name:</label>-->
<!--  <input id="typedlastName" class="form-control" type="text" formControlName="lastName">-->
<!--  <input id="typedform-submit" class="btn btn-success" type="submit" value="Enviar" [disabled]="!profileForm.valid"/>-->
<!--</form>-->
<!--{{profileForm.valid }}-->
